<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="neo_module" translate="label" sortOrder="300">
            <label>Neo Gallery</label>
        </tab>
        <section id="neo_gallery" translate="label" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Image Gallry</label>
            <tab>neo_module</tab>
            <resource>Neo_Gallery::gallery_configuration</resource>
            <group id="general" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Module Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>This config is currently not working.</comment>
                </field>
                <field id="maxfilesize" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Maximum File Size Upload</label>
                    <comment>KB. 1024 bytes = 1 KB</comment>
                    <validate>validate-number</validate>
                </field>
            </group>
        </section>
        
    </system>
</config>
